node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
*yarn.lock
*env.local
.env

# firebase
GoogleService-Info.plist
google-services.json

# macOS
.DS_Store
